services:
  jira-backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: jira-backend
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development