services:
  jira-backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: jira-backend
    ports:
      - "8080:8080"
    volumes:
      - ./:/usr/src/app
    env_file:
      - .env